body {background-color: white;color: rgb(41, 54, 3);
    text-align: center;
    text-decoration: none;}
body {color: rgb(68, 40, 0) }
p {color: black;
    padding: 10px;}

h1, h2, h3, h4, h5, h6{
        padding: 20px;
        color: rgb(68, 40, 0);

}



/*------------------encabezado---------------------------*/
#encabezado{
    background-color: white;
    color: rgb(68, 40, 0);
    top: 0;
    position:sticky;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
    
} 

.flex-container-encabezado {
    display: flex;
    align-items: center;    
}

.logo img {
    width: 85px; 
}

.inicio{
    background-color: white;
    text-decoration: none;
}

.navegador ul {
    list-style: none;  
    margin: 0;  
    padding: 0;  
    color: white;
    width: 100%;  
    display: flex;  
    justify-content: space-between;
    align-items: center;  
    
}

.navegador a {
    text-decoration: none;
    color: rgb(101, 67, 19);
    padding: 10px; 
}
.navegador a:hover {
    background-color: white;
    color: rgb(68, 40, 0);
}
/*------------------encabezado---------------------------*/




/*--------------------que es el mate-----------------------------*/
.foto-inicio{width: 20%;}
.que-mate{
    align-items:space-around;
    padding: 20px 0;
    
}
.que-mate h2 {
    margin: 30px; 
}
.foto-inicio {
    margin: 30px; 
    border-radius: 6%;
}
.que-es-mate {
    margin: 30px auto;
    max-width: 900px;
    text-align: center;
}




/*--------------------que es el mate-----------------------------*/




/*--------------------cuerpo-----------------------------*/

.flex-container-selectores{
        display: flex;
        align-items: center;  
        padding: 30px 0;
        justify-content: space-between;   
    }
.flex-container-selectores img{
    width: 80%;
    border-radius: 3%;
}

.formas-de-preparar{
    color: rgb(68, 40, 0);
    width: 330.2px;
    padding: 3px;
    margin: auto;
    background-color: white;
    border: solid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)

}

.tipos{
    color: rgb(68, 40, 0);
    width: 320px;
    padding: 3px;
    margin: auto;
    background-color: white;
    border: solid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
}

/*--------tipos mates----------*/
.tipomates{   
    width: 20%;
    }

.flex-container-tipos{
    display: flex;
    flex-direction: column;
}
.todos{
    padding: 50px;
    text-align: center;

}

.calabaza {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.calabaza div {
    flex: 1;
}

.calabaza p{
    margin: 10px;
    padding: 10px;
}
.calabaza img{
    width: 60%;
}


/*--------tipos mates----------*/

/*--------forma de preparar----------*/
.flex-container-formas{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    position: static;
}
.formasmate p{
    margin: 25px;
}
.formasmate img{
    max-width: 70%;
    height: auto;
    border-radius: 10%;
    padding: 20px;
}
/*--------forma de preparar----------*/









/*--------------------en proceso-----------------------------*/
#sin-terminar{
    color: rgb(68, 40, 0);
    width: 320px;
    padding: 3px;
    border: 3px solid rgb(68, 40, 0);
    margin: auto;
    background-color: white;
}
/*--------------------en proceso-----------------------------*/
/*--------------------cuerpo-----------------------------*/

/*
#portviewcelu{
    display: none;
}

    
@media only screen and (max-width: 600px){
    body{background-color: aqua;}
}*/

